@use "../global" as *;

.page-pagenavi .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
  text-align: center;
}

.page-pagenavi .wp-pagenavi a,
.page-pagenavi .wp-pagenavi span {
  width: rem(38);
  height: rem(38);
  color: $green;
  margin: 0 rem(6);
  padding: rem(7) 0;
  font-family: $third-font;
  font-size: rem(16);
  font-weight: $bold;
  white-space: nowrap;
  border: 1px solid $green;
  transition: 0.3s;
}

.page-pagenavi .wp-pagenavi a:first-child,
.page-pagenavi .wp-pagenavi a:last-child, {
  margin: 0;
}
.page-pagenavi .wp-pagenavi a:nth-last-child(2), {
  margin-right: 0;
}

.page-pagenavi .wp-pagenavi a:last-child,
.page-pagenavi .wp-pagenavi span {
  margin-left: rem(40);
}

.page-pagenavi .wp-pagenavi.wp-pagenavi--single-blog a:last-child {
  margin-left: rem(82);
}

.page-pagenavi .wp-pagenavi a:first-child,
.page-pagenavi .wp-pagenavi a:last-child {
  position: relative;
}

.page-pagenavi .wp-pagenavi a:first-child::before {
  position: absolute;
  content: "";
  width: rem(10);
  height: rem(10);
  top: 35%;
  border-top: 1px solid $green;
  border-left: 1px solid $green;
  left: 44%;
  transform: rotate(-45deg);
}

.page-pagenavi .wp-pagenavi a:last-child::after {
  position: absolute;
  content: "";
  width: rem(10);
  height: rem(10);
  top: 35%;
  border-top: 1px solid $green;
  border-left: 1px solid $green;
  right: 44%;
  transform: rotate(135deg);
}

.page-pagenavi .wp-pagenavi a:first-child:hover::before,
.page-pagenavi .wp-pagenavi a:last-child:hover::after {
  border-top: 1px solid $white;
  border-left: 1px solid $white;
}

.page-pagenavi .wp-pagenavi a:hover {
  color: $white;
  background-color: $green;
  border-color: $green;
  opacity: 1;
}

.page-pagenavi .wp-pagenavi .current {
  color: $white;
  background-color: $green;
  border-color: $green;
}
