@use "global" as *;

.btn-center {
  text-align: center;
}

.button {
  position: relative;
  display: inline-block;
  color: $white;
  font-family: $english-font;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1;
  border: 1px solid $green;
  background: $green;
  padding: rem(19) rem(88) rem(19) rem(39);
  max-width: rem(202);
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border: 1px solid $green;
  transform: translate(rem(4), rem(4));
  z-index: -2;
}

.button::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.button:hover {
  color: $green;
}

.button:hover::after {
  transform: scale(1, 1);
}

.button:hover span {
  border-bottom: 1px solid $green;
  border-right: 1px solid $green;
}

.button-arrow {
  position: absolute;
  display: inline-block;
  width: rem(40);
  height: rem(8);
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: skew(45deg);
  margin-left: rem(11);
  left: 53%;
}
